*{
    text-align: center;
    box-sizing: content-box;
}
body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.container{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(203, 200, 199);
    text-align: center;
    border-radius: 10px;
}
.input-field, .btn-tag{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:10px auto; 
    padding: auto 10px; 
}

.top-label{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin: auto ;
}
h1{
    font-size: 28px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(54, 61, 79);
    margin: 10px;
}
h2, p{
    font-size: 18px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(238, 237, 243);
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

input{
    margin: auto;
    height:70px;
    width: 70px;
    color: rgb(186, 7, 7);
    font-size: 18px;
    font-weight: 800;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


button{
   margin: 10px;
   padding: 5px 20px;
   border: none;
   color: rgb(9, 8, 8);
   background-color: rgb(250, 249, 249);
   border-radius: 5px;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
 
}
button:hover{
  
    background-color: rgb(12, 12, 12);
    color: rgb(252, 249, 249);
    cursor: pointer;
}
